# Car Dataset Analizi

## **Bu veri setinde araba veri setini inceleyeceğiz.**

### Bu analizimizde "**PANDAS**" ve "**NUMPY**" kütüphanelerini kullanacağız.Haydi onları ekleyelim.

In [9]:
import pandas as pd
import numpy as np

### Veri setini okuyalım ve "**df**" adlı değişkene kopyalayalım.

In [31]:
Dataset=pd.read_csv(r"C:\Users\E4EATLAS\Downloads\cars_data.csv")
df=Dataset.copy()

### Veri setinin ilk ve son "**5**" satırına hızlı bir bakış atalım.

In [58]:
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [60]:
df.tail()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

### Veri setimizin "**satır**" ve "**sütun**" sayılarını öğrenelim.
### Bunun için .shape fonksiyonunu kullanacağız.

In [82]:
df.shape # Veri setimiz 432 satır 15 sütun içeriyor.

(432, 15)

### Sütun isimlerimizi "**.columns**" fonksiyonu ile getirelim

In [85]:
df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

### Veri setimizde kaç tane hücre olduğunu öğrenelim.

In [93]:
df.size

6480

### Veri setimizdeki sayısal veriler içeren sütunlarımızın sayısını,ortalamasını,standart sapmasını vs. öğrenelim.
### Transpoze alırsak daha hoş bir görüntü elde ederiz.

In [108]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
EngineSize,428.0,3.196729,1.108595,1.3,2.375,3.0,3.90,8.3
Cylinders,426.0,5.807512,1.558443,3.0,4.000,6.0,6.00,12.0
Horsepower,428.0,215.885514,71.836032,73.0,165.000,210.0,255.00,500.0
MPG_City,428.0,20.060748,5.238218,10.0,17.000,19.0,21.25,60.0
MPG_Highway,428.0,26.843458,5.741201,12.0,24.000,26.0,29.00,66.0
Weight,428.0,3577.953271,758.983215,1850.0,3104.000,3474.5,3977.75,7190.0
Wheelbase,428.0,108.154206,8.311813,89.0,103.000,107.0,112.00,144.0
Length,428.0,186.362150,14.357991,143.0,178.000,187.0,194.00,238.0

### Sütunlarımızın değişken tiplerini öğrenelim

In [113]:
df.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

### Bir çok şey öğrenecğimiz "**info()**" fonksiyonunu kullanalım

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

### Sütunlarımızdaki eşsiz verileri öğrenelim.
### "**unique()**" fonksiyonu ile yapalım.

In [130]:
df["Make"].unique() #Make sütunundaki verilerimizi öğrendik.

array(['Acura', 'Audi', 'BMW', nan, 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

### nunique() fonksiyonu ile eşsiz olan verilerin adetini öğrenelim.Nan değerlerini saymaz

In [134]:
df["Make"].nunique()

38

In [142]:
df["Type"].unique()

array(['SUV', 'Sedan', 'Sports', 'Wagon', nan, 'Truck', 'Hybrid'],
      dtype=object)

In [144]:
df["Type"].nunique()

6

### Sütunlarımızdaki eşsiz verileri toplu olarka görmek için df.nunique() kullanalım

In [156]:
df.nunique()

Make            38
Model          425
Type             6
Origin           3
DriveTrain       3
MSRP           410
Invoice        425
EngineSize      43
Cylinders        7
Horsepower     110
MPG_City        28
MPG_Highway     33
Weight         348
Wheelbase       40
Length          67
dtype: int64

### Veri setimizdeki boş değerlere genel bir bakış atalım

In [171]:
df.isnull()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
428,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
429,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
430,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
431,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

### Veri setimizde hiç boş değer-NAN var mı mantıksal olarak öğrenelim.

In [161]:
df.isnull().values.any()

True

### Her kolonda eksik veri var mı varsa kaç adet onu getirelim.

In [175]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

### Bütün sütunlardaki eksik verileri toplayalım.Bunun için bir tane daha "**sum()**" fonksiyonu eklemeliyiz.

In [185]:
df.isnull().sum().sum()

62

### Her sütundaki verileri sayar

In [187]:
df.count()

Make           428
Model          428
Type           428
Origin         428
DriveTrain     428
MSRP           428
Invoice        428
EngineSize     428
Cylinders      426
Horsepower     428
MPG_City       428
MPG_Highway    428
Weight         428
Wheelbase      428
Length         428
dtype: int64

### Sütundaki verilerin kaç tane olduğunu sayar.Bu önemli bir bilgi verir.

In [194]:
df["Make"].value_counts()

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: count, dtype: int64

# Bu projede bazı temel fonksiyonları öğrendik.Okuduğunuz için teşekkürler.